<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ramen Card</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="recipe-item.component.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="card text-center">
                    <div class="card-block">
                        <img src="https://thumbs.dreamstime.com/b/kuro-tonkotsu-ramen-chashu-pork-bean-sprout-71467747.jpg" class="img-fluid">
                        <header class="title__header">
                        <div class="card-title">
                            <h4>Tonkotsu Ramen</h4>
                        </div>
                        </header>
                        <footer class="class">
                        <button type=button class="btn-primary"><span class="glyphicon glyphicon-new-window"></span>Open Recipe</button>
                         </footer>
                    </div>
                </div>
            </div>
        </div>   
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="card text-center">
                        <div class="card-block">
                            <img src="https://bigeatstinykitchen.files.wordpress.com/2014/05/dsc_0324.jpg" class="img-fluid">
                            <header class="title__header">
                            <div class="card-title">
                                <h4>Carne Asada</h4>
                            </div>
                            </header>
                            <footer class="class">
                            <button type=button class="btn-primary"><span class="glyphicon glyphicon-new-window"></span>Open Recipe</button>
                             </footer>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row ">
                    <div class="col-md-3 col-sm-6">
                        <div class="card text-center">
                            <div class="card-block">
                                <img src="https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fimages.media-allrecipes.com%2Fuserphotos%2F1023628.jpg" class="img-fluid">
                                <header class="title__header">
                                <div class="card-title">
                                    <h4>Cajun Crab Cakes</h4>
                                </div>
                                </header>
                                <footer class="class">
                                <button type=button class="btn-primary"><span class="glyphicon glyphicon-new-window"></span>Open Recipe</button>
                                 </footer>
                            </div>
                        </div>
                    </div>
                </div>
</body>
</html>
